$main-color: #e32756;

// start hero
.hero {
  height: calc(100vh - 61px);

  .line {
    height: 100%;
    background-color: #f7f5ed;

    .container {
      display: flex;
      align-items: center;
      gap: 40px;
      height: 100%;
    }

    .left,
    .right {
      width: 50%;
    }

    .left {
      position: relative;
      z-index: 99;

      h1 {
        font-size: 50px;
        font-weight: 700;

        span {
          color: $main-color;
        }
      }

      p {
        font-size: 19px;
        line-height: 1.6;
        color: gray;
        margin-bottom: 15px;
      }

      a {
        padding: 10px 25px;
        background-color: $main-color;
        color: white;
        display: inline-block;
        font-weight: 500;
        border-radius: 50px;
      }

      .circle_img {
        position: absolute;
        top: -150px;
        left: -20px;
      }
    }

    .right {
      position: relative;
      .images {
        position: relative;
        z-index: 99;
        .circle {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          background-color: $main-color;
          display: block;
          margin-left: auto;
        }

        .border_circle {
          width: 250px;
          height: 250px;
          border-radius: 50%;
          border: 60px solid #fcc696;
          display: block;
          margin-right: auto;
        }

        .image {
          .hero_img1 {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
          }

          .hero_img2 {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 50%;
            border-top-right-radius: 0%;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            margin-left: auto;
          }
        }
      }

      .rocket_img {
        position: absolute;
        top: -50px;
        right: -100px;
        animation: scale 4s ease infinite backwards;

        img {
          width: 150px;
        }
      }

      .fligure_img {
        position: absolute;
        top: 35px;
        left: -90px;

        img {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;

    .line {
      .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;

        .left,
        .right {
          width: 100%;
        }

        .left {
          h1 {
            font-size: 30px;
          }

          p {
            font-size: 15px;
            line-height: 1.4;
            margin-bottom: 10px;
          }

          a {
            padding: 6px 20px;
            font-size: 15px;
          }

          .circle_img {
            top: -50px;
            img {
              width: 250px;
            }
          }
        }
      }

      .right {
        .images {
          .circle,
          .border_circle {
            width: 200px;
            height: 200px;
          }

          .image {
            .hero_img1,
            .hero_img2 {
              width: 200px;
              height: 200px;
            }
          }
        }

        .rocket_img {
          right: -10px;
          top: -70px;

          img {
            width: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .hero {
    .line {
      .container {
        .right {
          .images {
            .circle,
            .border_circle {
              width: 100%;
              height: 170px;
            }

            .image {
              .hero_img1,
              .hero_img2 {
                width: 100%;
                height: 170px;
              }
            }
          }
        }
      }
    }
  }
}
// end hero

// animation

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
